/*------------------------------------------------------------Fonts */

@import url('https://fonts.googleapis.com/css?family=Spicy+Rice 100, 200, 300, 400, 500, 600, 700|Acme: 100, 200, 300, 400, 500, 600, 700');

/*---------------------------------------------Navbar*/


.navbar a {
    color: #FF0000;
    text-align: center;
}

.navbar-header {
    background-color: #FFFF00;
    color: #FF0000;
    font-family: 'Spicy Rice', sans-serif;
    font-weight: 500;
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFFF00;
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: #FF0000;
    font-size: 30px;
}

.navbar .navbar-brand:hover {
    transition: ease-in-out 0.3s;
    font-size: 32px;
}

.navbar ul {
    text-align: center;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
    color: #FF0000;

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: red;
    background: transparent;
    
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: color: #FF0000;
    border-color: #df4929;
    color: white;
}

.options {
   transition: 0.6s;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Spicy Rice', sans-serif;
  text-decoration: none;
  border-right: 2px dotted transparent;
  padding: 5px 8px 0 5px;
  margin: 0 10px;
}
.options:hover {
  border-right: 2px dotted #ffffff;
  }


/*---------------------------------------------Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    margin-bottom: 30px;
    color: white;
    width: 100%;
}

.jumbotron .lead {
    color: #FFFF00;
    margin: 25px 0;
    font-weight: bold;
}



/*---------------------------------------------Fonts, Text Stylings, Block Dividers, Buttons*/


.uppercase {
    text-transform: uppercase;
}

.block-divider--yellow {
    background-color: #FFFF00;
    font-weight: 20px;
    width: 60px;
}

.block-divider--red {
    background-color: #FF0000;
    font-weight: 20px;
    width: 60px;
}

.btn--red {
    background-color: #FF0000;
    color: #FFFFFF;
}

.btn--yellow {
    background-color: #FFFF00;
    color: #FFFFFF;
}

.band-name {
    font-family: 'Spicy+Rice', sans-serif;
}

/*---------------------------------------------Social Media/Follow Us Section*/
.tablet-sm-btns a{
    text-align: justify;
    padding: 5px;
}

.social-media-header {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.social-media-icons {
    font-size: 70px;
    padding: 10px;
    padding-right: 10px
    text-align: center;
}
.phone-sm-btns {
    font-size: 30px;
    padding: 5px;
    text-align: center;
}

.spotify {
    color: #1db954;
}

.facebook {
    color: #3b5998;
}

.apple {
    color: #000000;
}

.instagram {
    color: #c13584;
}

.amazon {
    color: #ff9900;
}

.snapchat {
    color: #fffc00;
}

.youtube {
    color: #ff0000;
}

.twitter {
    color: #1da1f2;
}

/*---------------------------------------------Listen Section*/

.listen-header {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
.container-wrapper--red {
    background-color: #FF0000;
    color: #FFFFFF;
    height: 500px;
   }
/*---------------------------------------------Watch Section*/

.watch-header {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.container-wrapper--yellow {
    background-color: #FFFF00;
    color: #FFFFFF;
    height: 500px;
  }
/*---------------------------------------------Homepage Callout*/

.callout-container {
    min-height: 360px;
    font-family: 'Acme', sans-serif;
    background: url("../assets/the-monkees-homepage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



/*---------------------------------------------*/

/*---------------------------------------------*/

/*---------------------------------------------*/

/*---------------------------------------------*/
