/*------------------------------------------------------------Fonts */

@import url('https://fonts.googleapis.com/css?family=Spicy+Rice 100, 200, 300, 400, 500, 600, 700|Acme: 100, 200, 300, 400, 500, 600, 700');

/*------------------------------------------------------------Body */
:root {
    --main-bg-color: #b71c1c;
    --main-txt-color: #FFFFFF; 
    --main-padding: 15px; 
}

#div1 {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: var(--main-padding);
}

#div2 {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: var(--main-padding);
}


/*---------------------------------------------Navbar*/

body {
    padding-top: 40px;
    overflow-y: scroll;
    overflow-x: none;
    }

.navbar a {
    color: #FFFFFF;
    text-align: center;
}
.sr-only icon-bar {
    color: #FFFFFF;
}
.navbar-header {
    background-color: #b71c1c;
    color: #FFFFFF;
    font-family: 'Spicy Rice', sans-serif;
    font-weight: 100;
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #b71c1c;
    border: 0;
    }

.navbar .navbar-brand {
    color: #FFFFFF;
    font-size: 30px;
}

.navbar-brand-sm {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Spicy Rice', sans-serif;
}

.navbar .navbar-brand:hover {
    transition: ease-in-out 0.6s;
    font-size: 30px;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.navbar ul {
    text-align: center;
    color: #FFFFFF;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
    color: #FFFFFF;

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background: transparent;

}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: #FFFFFF;
}

.navbar-btn:hover {
    background-color: color: #FF0000;
    border-color: #df4929;
    color: #FFFFFF;
}
.options {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Spicy Rice', sans-serif;
    text-decoration: none;
    padding: 5px 8px 0 5px;
    margin: 0 10px;
}
.options1 {
    transition: 0.6s;
    
}

.options1:hover {
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    color: white;
    transition: 0.6s;
}

.options2 {
    transition: 0.6s;
    }

.options2:hover {
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    color: white;
    transition: 0.6s;
}

.options3 {
    transition: 0.6s;
    
}

.options3:hover {
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    color: white;
    transition: 0.6s;
}

.options4 {
    transition: 0.6s;
    
}

.options4:hover {
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    color: white;
    transition: 0.6s;
}

.options5 {
    transition: 0.6s;
    
}

.options5:hover {
   -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    color: white;
    transition: 0.6s;
}

.options6 {
    transition: 0.6s;
    
}

.options6:hover {
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    color: white;
    transition: 0.6s;
}

.below-navbar {
    padding-top: 30px;
}

/*---------------------------------------------Footer*/

footer {
    background-color: #DCDCDC;
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 5px;
    height: 100px;
    text-align: center;
    }


.contact-envelope {
    font-size: 25px;
}

.social-links {
    font-size: 25px;
    margin-left: 60px;
}
.footer-heading {
    margin-left: 60px;
}

.fa-envelope {
    color: black;
    cursor: pointer;
}

.fa-envelope:hover {
    color: red;
    cursor: pointer;
}

/*---------------------------------------------Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    margin-bottom: 30px;
    color: white;
    width: 100%;

}

.jumbotron .lead {
    color: #FFFFFF;
    margin: 25px 0;
    font-weight: bold;
}



/*---------------------------------------------Fonts, Text Stylings, Block Dividers, Buttons*/

.section-header {
    color: #FF0000;
}

.uppercase {
    text-transform: uppercase;
    color: #b71c1c;
}

.block-divider--yellow {
    background-color: #FFFF00;
    font-weight: 200;
    width: 60px;
}

.block-divider--red {
    background-color: #b71c1c;
    font-weight: 200;
    width: 60px;
}

.btn--red {
    background-color: #b71c1c;
    color: #FFFFFF;
}

.button-to-bottom {
    padding-bottom: 6px;
    padding-top: 78px;
}

.band-name {
    font-family: 'Spicy+Rice', sans-serif;
}

/*--Social Media/Follow Us Section*/

.social-media {
    background-color: #FFFFFF;
}

.wrapper-sm {
    background-color: #FFFFFF;
    height: 500px;
}

.tablet-sm-btns a {
    text-align: justify;
    padding: 5px;
}

.social-media-header {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.phone-sm-btns {
    font-size: 30px;
    padding: 5px;
    text-align: center;
}

.spotify {
    color: #1db954;
}

.facebook {
    color: #3b5998;
}

.apple {
    color: #000000;
}

.instagram {
    color: #c13584;
}

.amazon {
    color: #ff9900;
}

.snapchat {
    color: #fffc00;
}

.youtube {
    color: #ff0000;
}

.twitter {
    color: #1da1f2;
}

.watch {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*---------------------------------------------Homepage Callouts*/

.callout-container1 {
    min-height: 80vh;
    font-family: 'Acme', sans-serif;
    background: url("../assets/themonkees-performing.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container2 {
    min-height: 80vh;
    font-family: 'Acme', sans-serif;
    background: url("../assets/the-monkees-homepage.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.callout-container3 {
    font-family: 'Acme', sans-serif;
    background: url("../assets/crowd-concert.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bookings-callout {
    height: 90vh;
}

/*---------------------------------------------Our Music Page*/
/*--Listen Section*/
/*
.listen-header {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.container-wrapper--red {
    background-color: #FF0000;
    color: #FFFFFF;
    height: 500px;
}
*/
.music-wrapper1 {
    background-color: #FF0000;
    color: #FFFFFF;
    text-align: center;
}

.music-wrapper2 {
    background-color: #FFFF00;
    color: #FFFFFF;
    text-align: center;
}

.history-wrapper1 {
    background-color: #FF0000;
    color: #FFFF00;
    text-align: center;
    height: 925px;

}

.history-wrapper2 {
    background-color: #FFFF00;
    color: #FF0000;
    text-align: center;
    height: 925px;

}
.history-wrapper-smred {
    background-color: #FF0000;
    color: #FFFF00;
    text-align: center;
    height: 750px;
}

.history-wrapper-smyellow {
    background-color: #FFFF00;
    color: #FF0000;
    text-align: center;
    height: 750px;
}

.our-music-header {
    color: #b71c1c;
}

.history {
    padding-bottom: 20px;
}

.history-info {
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 3px;
    margin: 3px;
}

.wikipedia-credit {
    color: #000000;
}

.wikipedia-credit a {
    color: #000000;
}

/*---------------------------------------------Photos*/

.image-row {
    padding: 16px;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 300px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 4px solid #FFFF00;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #FFFF00;
    color: #FF0000;
    font-size: 22px;
    padding: 8px 16px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
}

/*---------------------------------------------Bookings Page*/

.wrapper-red {
    background-color: #FF0000;
    color: #FFFFFF;
    height: 430px;
}

.wrapper-yellow {
    background-color: #FFFF00;
    color: #FFFFFF;
    height: 430px;
}

.list-items {
    font-size: 26px;
}

.bookinglist {
    text-align: center;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 10px;

}

blockquote.quote {
    border-left: 0;
}

.quotes {
    font-family: 'Acme', sans-serif;
}

.testimonials {
    padding-bottom: 15px;
}

/*---------------------------------------------Buy Tickets*/

.table-striped,
th {
    text-align: center;
}

th {
    text-transform: uppercase;
}

.table {
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    font-size: 20px;
    max-width: 800px;
    margin-left:auto; 
    margin-right:auto;
    overflow: scroll;
        }

.tickets {
    color: #7f0000;
    transition: 0.6s;
}

.tickets:hover {
    color: #7f0000;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    
}

/*---------------------------------------------News Page*/
.news-headline {
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    text-align: center;
    }

.news-item {
font-family: 'Acme', sans-serif;
font-size: 20px;
}
.newswrapper-red {
 background-color: #FF0000;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    margin-right: 0px;
    }

.storywrapper-yellow {
  background-color: #FFFF00;
    color: #FF0000; 
    font-weight: 400;
    font-size: 22px;
    padding: 5px 20px 5px 20px;
    margin-right: 0px;
}
/*---------------------------------------------Media Queries*/


/*---------------------------------------------*/


/*---------------------------------------------*/


/*---------------------------------------------*/


/*---------------------------------------------*/


/*---------------------------------------------*/